* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

img {
    /* max-width: 100%;
    max-height: 100%; */
    height: 80px;
    width: auto;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
    height: 80px;
    background-color: transparent;
    justify-content: space-between;
    padding: 0 50px;
}

.colorheader {
    color: #000!important;
    background-color: #fff!important;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.animate-header {
    animation: animatetop 1s;
}

.w3-card {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.nav {
    display: flex;
    line-height: 80px;
}

.nav li {
    margin: 0 10px;
    padding: 5px 35px;
    list-style: none;
    position: relative;
}

.nav li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    box-shadow: inset;
}

.nav .icon_inside {
    position: absolute;
    top: 43px;
    right: 85%;
    display: none;
    height: 7px;
    width: 7px;
    background-color: red;
    margin-bottom: 2px;
    border-radius: 100%;
}

.nav .icon_insidee {
    display: inline-block;
    height: 7px;
    width: 7px;
    background-color: red;
    margin-bottom: 2px;
    border-radius: 100%;
}

@keyframes inside {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nav li:hover .icon_inside {
    display: inline-block;
    animation: inside 1s infinite;
}


/* background */

.background {
    height: 700px;
    width: 100%;
    border-radius: 10px;
    background-color: hsla(200, 40%, 30%, .4);
    background-image: url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'), url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'), url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'), url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    background-repeat: repeat-x;
    background-position: 0 20%, 0 80%, 0 50%, 0 100%, 0 0;
    background-size: 2500px, 800px, 500px 200px, 1000px, 400px 260px;
    position: relative;
    animation: 50s para infinite linear;
}

@keyframes para {
    100% {
        background-position: -5000px 20%, -800px 95%, 5000px 50%, 100px 100%, 400px 0;
    }
}

.background .introl {
    position: absolute;
    bottom: 30%;
    left: 20%;
}


/* .introl h3 {
    text-align: center;
    margin: 20px 0;
    font-size: 35px;
    color: blue;
} */

.pos {
    position: relative;
    height: 50px;
}

.name-vn,
.effect {
    font-size: 35px;
    padding-top: 10px;
    position: absolute;
    top: 0%;
    left: 40%;
    z-index: 6;
    padding-top: 10px;
}

.effect {
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    padding: 10px;
    overflow: hidden;
    animation: ef 3s ease-in-out infinite alternate;
}

.effect-content {
    font-size: 35px;
    color: blue;
    position: absolute;
    left: 0;
    width: max-content;
    animation: ct 3s ease-in-out infinite alternate;
}

.effect-content .re {
    color: red;
}

@keyframes ef {
    from {
        transform: translate(-20px, 0);
    }
    to {
        transform: translate(140px, 0);
    }
}

@keyframes ct {
    from {
        transform: translate(20px, 0);
    }
    to {
        transform: translate(-140px, 0);
    }
}


/* h3 .re {
    color: red;
} */

.introl h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 40px;
    font-weight: bold;
}


/* body */

#contain {
    width: 100%;
}

.content_header {
    position: relative;
    height: 300px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 150px;
    margin-top: 50px;
    overflow: hidden;
    border-radius: 20px;
}

.content_header::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1aa7da;
    animation: borde 3s linear infinite;
}

.content_header::after {
    content: '';
    position: absolute;
    inset: 5px;
    background-color: #fff;
    border-radius: 16px;
}

@keyframes borde {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(350deg);
    }
}


/* background-image: url(https://tuyendung.viettel.vn/VRS_FE/share/portalHome/images/dc-about.svg);
    background-repeat: no-repeat;
    background-size: 35%;
 */

.item_line1 {
    margin-top: 10px;
    /* background-image: url(https://tuyendung.viettel.vn/VRS_FE/share/portalHome/images/dc-about.svg);
    background-repeat: no-repeat;
    background-size: 35%; */
    text-align: center;
    font-size: 25px;
    padding: 15px 0;
    position: relative;
    z-index: 10;
}

.item_line2 {
    text-align: center;
    font-size: 25px;
    padding: 15px 0;
    position: relative;
    z-index: 10;
}

.item_line3 {
    text-align: center;
    font-size: 25px;
    padding: 15px 0;
    position: relative;
    z-index: 10;
    /* background-image: url(https://tuyendung.viettel.vn/VRS_FE/share/portalHome/images/dc-about.svg);
    background-repeat: no-repeat;
    background-size: 28%; */
}

.item_line4 {
    max-width: 50%;
    margin: 10px 0 33px 300px;
    line-height: 25px;
    position: relative;
    z-index: 10;
}

.content_header h3 {
    font-weight: 400;
}

#contain .boxs {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
}

.boxs .box {
    position: relative;
    width: 24.999%;
    height: 400px;
    border: 2px solid rgb(199, 195, 195);
    border-radius: 20px;
    margin: 20px 20px 0 20px;
}

:root {
    --borderColor: #0d7db1;
}

.box::before,
.box::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    transition: .3s ease-in-out;
}

.box::before {
    top: -5px;
    left: -5px;
    border-top: 2px solid var(--borderColor);
    border-left: 2px solid var(--borderColor);
}

.box::after {
    right: -5px;
    bottom: -5px;
    border-bottom: 2px solid var(--borderColor);
    border-right: 2px solid var(--borderColor);
}

.box:hover::before,
.box:hover::after {
    width: calc(100% + 9px);
    height: calc(100% + 9px);
}

@keyframes example {
    from {
        background-color: #ccc;
    }
    to {
        background-color: rgb(250, 250, 150);
    }
}

.box p {
    display: block;
    font-size: 25px;
    font-weight: 100;
    margin: 10px 10px;
    line-height: 30px;
}

.box img {
    margin-top: 40px;
    width: 150px;
    height: auto;
}

.box:hover {
    animation-name: example;
    animation-duration: 5s;
    cursor: pointer;
}


/* timeline */

.timeline {
    height: 210px;
    background-color: #eaeaea;
}

.timeline_header {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.timeline_header i {
    font-size: 35px;
    margin-right: 30px;
}


/* list timeline */

.phase-1 {}

.tl-top {
    height: 100px;
    background-color: #ea0033;
}

.tl-top .tl-day {
    display: flex;
    margin: 0 5%;
}

.tl-day li {
    text-transform: uppercase;
    list-style: none;
    font-family: "FS-Magistral", sans-serif;
    line-height: 100px;
    margin: 0 40px;
    color: #ffff;
    font-size: 22px;
    font-weight: 500;
}

.tl-list {
    height: 230px;
    background-color: #eaeaea;
    width: 100%;
    display: flex;
    padding: 0 5%;
}

.tl-list li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    width: 12%;
    list-style: none;
    font-size: 20px;
    margin: 2% 2%;
    color: #ea0033;
}


/* tạo tam giác*/

.arrow-right {
    width: 0px;
    height: 0px;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid #d32d2d;
    border-radius: 5px;
    margin: 11px 0;
    /* Tam giác trái được đổ màu */
}

.phase-tl {
    display: flex;
    background-color: #f8f8f8;
}

.phase-1 {
    width: 50%;
    margin: 5% 5%;
}

.phase-1 h3 {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-bottom: 20px;
}

.phase-1 p {
    color: #000000;
    line-height: 25px;
    font-size: 18px;
    padding-bottom: 100px;
}


/* ung tuyen */

.recruit {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    position: relative;
    background-image: url(https://www.fg-a.com/wallpapers/marble-white-1-2018-th.jpg);
}

.recruit-header {
    text-align: center;
}

.recruit-header h1 {
    font-weight: 300;
    font-size: 45px;
    color: #000;
    padding: 10px 0;
}

.recruit-header h3 {
    font-weight: 200;
    font-size: 30px;
    color: #d32d2d;
    margin: 1% 0;
}

.recruit-list {
    display: flex;
    justify-content: space-around;
}

.choose {
    margin: 1% 0;
}

.choose a {
    display: block;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: rgb(238, 231, 231);
    padding: 15px 50px;
    background-color: #000;
    border-radius: 50px;
}

.choose a:hover {
    background-color: #d32d2d;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: pulse;
    animation-duration: 2s;
}

.present {
    margin: 2% 90px;
    border: 1px solid red;
    padding: 20px 50px;
    border-radius: 50px;
}

.present p {
    font-size: 20px;
    line-height: 25px;
    margin: 10px 20px;
}

.ut a {
    background-color: #ea0033;
    padding: 15px 55px;
    position: absolute;
    top: 575px;
    left: 40%;
    border-radius: 50px;
    text-decoration: none;
    color: rgb(241, 236, 236);
    font-size: 20px;
}

.ut a:hover {
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: pulse;
    animation-duration: 2s;
}


/* anh */


/* .im {
    margin-top: 100px;
    width: 100%;
    border: 3px solid red;
}

.im img {
    width: 100%;
    height: auto;
}

#myimg {
    animation-name: ani;
    animation-duration: 2s;
}

.my {
    display: none;
}

@keyframes ani {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
} */

.mySlides {
    display: none;
}

.mySlides img {
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
    border: 5px double #ccc;
}


/* Slideshow container */

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}


/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: 0.5
    }
    to {
        opacity: 1
    }
}


/* On smaller screens, decrease text size */

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}


/* footer */

footer {
    background-color: #ccc;
    height: 300px;
    margin-top: 3%;
    display: flex;
}

.footer-left {
    width: 49.9%;
    margin: 5% 20px;
}

.footer-left h1 {
    display: inline;
    color: blue;
    border-bottom: 1px solid #fff;
}

h1 .slash {
    letter-spacing: -5px;
    color: blue;
}

h1 .c {
    color: red;
}

.footer-left h3 {
    margin: 3% 0;
    font-size: 25px;
    color: #000;
}

.footer-right {
    margin-top: 5%;
}

.footer-right div {
    margin: 3% 0;
    font-size: 18px;
}

.footer-right div a {
    text-decoration: none;
}